.book-detail-image {
  width: 356px;
  height: 511px;
  object-fit: contain;
}

.text-orange {
  color: $light-orange !important;
}

.categories-font {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.container {
  .rectangle-85 {
    flex-direction: row;
    width: 254px;
    height: 310px;
    box-shadow: 0 8px 16px 0 rgba(76, 91, 223, 0.35);
    background-color: #ffffff;
    margin: 25px;

    .self-Development {
      width: 206px;
      height: 85px;
      font-family: sans-serif;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: #4c5bdf;
    }
  }
}
